*{
    font-family: monospace;
}
body{
    background-image: linear-gradient(#e6e6e6, #a7a7a7);
    background-attachment: fixed;
    margin: 0;
}
.container-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.header{
    width: 100%;
    background-color: #161515;
    border-bottom: #e46c00 4px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header .container-header{
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 140px;
    height: 100px;
    border-radius: 120px;
}
.NavBar{
    width: 400px;
    display: flex;
    color: #e46c00;
    list-style: none;
    justify-content: space-evenly;  
}
a{
    text-decoration: none;
    color: #e46c00;
}
.header a{
    background-color: #161515;
    padding: 5px;
    border-radius: 5px;
    border: #e46c00 2px solid;
    font-size: larger;
}
.geral{
    background-color: #16151596;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.opcao{
    background-color: #f29236;
    padding: 20px;
    border: #161515 solid 4px;
    border-radius: 30px;
}.opcao h3{
    color: #161515;
}
.opcao span{
    color: #161515;
}
.botao{
    display: flex;
    padding: 20px;
}
.botao a{
    background-color: #161515;
    color: #f29236;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}