*{
    font-family: monospace;
}
body{
    background-image: linear-gradient(#e6e6e6, #a7a7a7);
    background-attachment: fixed;
    margin: 0;
}
.container-header{
    display: flex;
    width: 90%;
    margin: auto;
}
.header{
    width: 100%;
    background-color: #161515;
    border-bottom: #e46c00 4px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header .container-header{
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 140px;
    height: 100px;
    border-radius: 120px;
}
.NavBar{
    width: 400px;
    display: flex;
    color: #e46c00;
    list-style: none;
    justify-content: space-evenly;  
}
a{
    text-decoration: none;
    color: #e46c00;
}
.header a{
    background-color: #161515;
    padding: 5px;
    border-radius: 5px;
    border: #e46c00 2px solid;
    font-size: larger;
}
.banner{
    background-color: #16151596;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}
.caixa-login{
    margin: auto;
    width: 50%;
    height: 400px;
    display: flex;
    background-color: #F29236;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: #161515 solid 4px;
    border-radius: 40px;
    margin-bottom: 50px;
}
.caixa-login h1{
    background-color: #161515;
    color: #e46c00;
    padding: 10px;
    border-radius: 20px;
    font-size: xx-large;
}
.caixa-login p{
    color: #161515;
    font-size: large;
}
.caixa-login input{
    border-radius: 10px;
    border: none;
}
.caixa-login button{
    background-color: #161515;
    color: #e46c00;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    margin-top: 10px;
}
.caixa-login h2{
    border-bottom: 3px solid #161515;
    margin-bottom: 20px;
}