body {
    background: #1f2837;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #000000;
}

.p_titulo_retorno {
    font-size: 25px;
}

.div_retorno {
    height: 350px;
    width: 600px;
    border-radius: 20px;
    margin: 20px;
}

h1 {
    margin: 30px;
    width: 400px;
    color: #de216b;
}

h3 {
    width: 400px;
    color: #1f2837;
    margin: 10px;
}

button {
    border: 3px solid #de216b;
    font-size: 20px;
    font-family: cursive;
    background-color: #de216b;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 300px;
    border-radius: 20px;
    margin: 20px;
}

.div_perguntas {
    background-color: #FFFFFF;
    height: 500px;
    width: 600px;
    border-radius: 20px;
}



input {
    border-radius: 5px;
    font-size: large;
    margin: 5px;
}