body {
    background: #2f2f2f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #ffffff;
}

.p_titulo_retorno{
    font-size:25px;
}

.div_retorno{
    color: #ffffff;
}

h1{
    width: 400px;
    color: #ff0000;
}

h3{
    width: 400px;
    color: #ff0000;
}

button {
    border: 3px solid #ff0000;
    font-size: 25px;
    font-family: cursive;
    background-color: #FFFFFF;
    color: black;
}